{{#> layout}}
  {{#*inline "content"}}
    <div>
      二重括弧{{message}}
    </div>
    <form action="/submit" method="POST">
      <label for="datetime">日時を選択してください：</label>
      <input type="datetime-local" id="datetime" name="datetime" required>
      <button type="submit">送信</button>
    </form>
  {{/inline}}
{{/layout}}
